{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container">
  <h1 class="text-center my-5">Recipe Recommendation App</h1>
  <form action="{{url_for('recommendation') }}" method="post">
    <!-- Ingredients -->
    <div class="form-group">
      <label for="ingredients">Please enter the ingredients that you want to cook or the ingredients that you currently have:</label>
      <textarea class="form-control" id="ingredients" rows="3" name="ingredients" Placeholder = "chicken, tomato, bean" required></textarea>
    </div>
    <!-- Cuisine -->
    <div class="form-group">
      <label for="cuisine">Choose all the cuisines that you want from below:</label>
      <select class="form-control" id="cuisine" name="cuisine" multiple>
        <option value="American">American</option>
        <option value="Salad">Salad</option>
        <option value="Italian">Italian</option>
        <option value="Mexican">Mexican</option>
        <option value="Asian">Asian</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Dessert">Dessert</option>
        <option value="Indian">Indian</option>
        <option value="Chinese">Chinese</option>
        <option value="Latin America">Latin American</option>
        <option value="Mediterranean">Mediterranean</option>
        <option value="Hawaiian">Hawaiian</option>
        <option value="Japanese">Japanese</option>
        <option value="Thai">Thai</option>
        <option value="Soup">Soup</option>
        <option value="Seafood">Seafood</option>
        <option value="Korean">Korean</option>
      </select>
    </div>
    <!-- Cooking Time -->
    <div class="form-group">
      <label for="time">How many minutes do you have for cooking?</label>
      <input type="number" class="form-control" id="time" name="time" Placeholder="example: 30">
    </div>
    <!-- Diet Preferences -->
    <div class="form-group">
      <label for="diet">Select all the Diet and Cooking Preferences you have from below:</label>
      <select class="form-control" id="diet" name="diet" multiple>
        <option value="Keto Recipes">Keto</option>
        <option value="Kid Friendly">Kid friendly</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Dairy Free">Dairy Free</option>
        <option value="Gluten Free">Gluten Free</option>
        <option value="Low Carb">Low Carb</option>
        <option value="Paleo">Paleo</option>
        <option value="Air Fryer Recipes">Air Fryer Recipes</option>
        <option value="Freezer Meals">Freezer Meals</option>
        <option value="Pressure Cooker Recipes">Pressure Cooker Recipes</option>
        <option value="Slow Cooker Recipes">Slow Cooker Recipes</option>
        <option value="Meal Prep Recipes">Meal Prep Recipes</option>
      </select>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary mt-3">Find Recipes</button>
  </form>
</div>
{% endblock %}
