{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipe Recommendation app | Login</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='login.css')}}">
</head>

<body>
	<div class='navigation'>
		<div class="container flex">
			<h1 class='logo'>Recipe recommendation</h1>
			<nav>
				<ul>
					<li><a href='/dashboard'>Dashboard</a></li>
					<li><a href='/signup'>Sign Up</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<section class='banner'>
		<div class='container grid'>
			<div class="banner-text">
				<h1>How are you today?</h1>
				<p>Let's find out what to cook today</p>
			</div>
			<div class='login-form card'>
				<h2 class='login-text'>Login</h2>
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<ul class=flashes>
					{% for category, message in messages %}
					<li class="{{ category }}">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
				<form method='POST' action=''>
					{{form.hidden_tag()}}
					<div class='form-control'>
						{{form.username}}
					</div>
					<div class='form-control'>
						{{form.password}}
					</div>
					<div class='form-control'>
						<input type='submit' value='Log in' class='btn btn-primary'>
					</div>
					<div class='form-control sign-up'>
						<a href='/signup'>Don't have an account yet? Sign Up.</a>
					</div>
				</form>
		</div>
	</section>
</body>
</html>
 
{% endblock %}