{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="navbar">
    <a href="#">Logo</a>
    <form method="POST" action="">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <button type="submit">Login</button>
      <div class="signup">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></div>
    </form>
  </div>
  <div class="image"></div>
</div>
{% endblock %}
