{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
  <head>
    <title>Recommended Recipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
<body>
    <div class="container">
      <h1 class="my-4">Recommended Recipes</h1>
      {% if recipes %}
        <div class="row">
          {% for recipe in recipes %}
            <div class="col-sm-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="{{ recipe.image }}" alt="{{ recipe.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.name }}</h5>
                  <p class="card-text">{{ recipe.cuisine }}</p>
                  <a href="{{ url_for('recipe_detail', recipe_id=recipe.key) }}" class="btn btn-primary">View Recipe</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No recipes found.</p>
      {% endif %}
    </div>

    <div class="container">
    <h2>You May Like</h2>
    <br><br>
        {% if similar_recipes %}
          <div class="row">
            {% for similar_recipe in similar_recipes %}
              <div class="col-sm-4 mb-4">
                <div class="card">
                  <img class="card-img-top" src="{{ similar_recipe.image }}" alt="{{ similar_recipe.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ similar_recipe.name }}</h5>
                    <p class="card-text">{{ similar_recipe.cuisine }}</p>
                    <a href="{{ url_for('recipe_detail', recipe_id=similar_recipe.key) }}" class="btn btn-primary">View Recipe</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
        <p>Thank you for visiting our website! We hope to find similar recipes in the future.</p>
        {% endif %}
    </div>
  </body>
{% endblock %}